asgiref==3.11.0
colorama==0.4.6
Django==6.0.1
django-cors-headers==4.9.0
djangorestframework==3.16.1
lxml==6.0.2
pillow==12.1.1
python-pptx==1.0.2
qrcode==8.2
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
xlsxwriter==3.2.9

# Production / Render
gunicorn==23.0.0
psycopg2-binary==2.9.10
dj-database-url==2.3.0
whitenoise==6.9.0
google-generativeai==0.8.4

cloudinary==1.44.1
django-cloudinary-storage==0.3.0


requests==2.31.0
